.ui.leave.modal
	i.close.icon
	.content
		h1 Are you sure you want to leave the chat?
	.actions
		.ui.negative.left.labeled.icon.button Get me out of here
			i.reply.icon
		.ui.basic.labeled.icon.button No, I want to be social
			i.cancel.icon
