.ui.remove.modal
	i.close.icon
	.content
		h1 Are you sure you want to remove Conner Ruhl?
	.actions
		.ui.negative.left.labeled.icon.button Yes
			i.checkmark.icon
		.ui.basic.labeled.icon.button Nevermind
			i.cancel.icon