.four.wide.column

	//- chats
	.ui.large.vertical.fluid.menu
		.item(align="center", style={"padding-top": "20px"})
			img(src="http://www.lorempixel.com/250/250").ui.small.circular.image
			h1(style={"margin-top": "10px"}) Conner Ruhl
		a.active.item Database Group
		a(data-content="New messages!", data-position="right center", data-variation="inverted").item Salty Sydney Saloon
			.ui.red.label 23
		.item
			a(data-modal="new").ui.basic.labeled.fluid.icon.button
				i.asterisk.icon
				| New group