.row
	.ui.static.menu.navbar.page.grid
		a(data-modal="about").item Chat App
		.right.menu
			.ui.dropdown.item
				| Conner Ruhl
				i.dropdown.icon
				.menu
					.item
						i.setting.icon
						| Settings
										
					.item
						i.sign.out.icon
						| Log out