doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
			
		meta(name="description", content="")
		meta(name="keywords", content="")

		title="Chat App"
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		//- css dependencies
		link(type="text/css", href="/semantic/semantic.css", rel="stylesheet")

		//- js dependencies
		script(type="text/javascript", src="/js/dependencies/sails.io.js")
		script(type="text/javascript", src="/jquery/jquery.min.js")
		script(type="text/javascript", src="/semantic/semantic.min.js")
	body
		block body
		footer
			include footer

	script.
		$(function() {

			// set up modal showers
			$('.ui.modal').modal({ duration: 150 });
			$('a[data-modal]').click(function() {
				$('.' + $(this).attr('data-modal') + '.modal').modal('show');
			});

			// set up popups
			$('[data-content]').popup({ duration: 100 });			

			// set up popups
			$('.ui.dropdown').dropdown({ on: 'hover', duration: 100 });
		});